// customize angular material theme
@use '@angular/material' as mat;
 
// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-bar-overrides((
    active-indicator-color: #ed008c,
    track-color: transparent,
  ));
}
 
:root {
	@include mat.paginator-overrides((
		select-trigger-text-size: var(--mat-sys-body-large-size),
		container-text-weight: var(--mat-sys-body-large-weight),
		container-text-size: var(--mat-sys-body-large-size),
	  	container-background-color: transparent,
	));
 }
/* 
  Minimal custom overrides 
  to maintain a clean, black-and-white theme 
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 
 .head-title {
	font-family: 'Comic Sans MS', Courier, monospace;
	font-weight: 300;
	font-size: 30px;
	color: black;
 }

 .head-item {
	font-family: 'Comic Sans MS', Courier, monospace;
	font-size: 1.05rem;
 }

 .footer-item { 
	font-family: 'Comic Sans MS', Courier, monospace;
	font-size: 1.05rem;
 }
 /* Article titles */
 .article-title {
	font-size: 1.75rem;
 }
 
 /* Meta info (date, author) */
 .article-meta {
	font-size: 0.85rem;
	color: #666;
 }
 
 .article-meta-tag {
	font-size: 0.85rem;
 }
 /* 
	Dashed line divider between articles:
	border bottom on every article except the last one.
 */
 article {
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 2px dashed #000; /* dashed black line */
 }
 
 article:last-of-type {
	border-bottom: none;  /* no divider on the final article */
	margin-bottom: 0;
	padding-bottom: 0;
 }
 
 .larger-icon {
	font-size: 1.1rem;
	/* or 24px, 3em, etc. */
 }

 .zlblog-pink {
	color: #ed008c;
 }

 .full-width {
	width: 100%;
}

.text-code {
	padding-top: 10px;
	padding-left: 15px;
	display: block;
	font-family: monospace;
	margin: 0;
	color: white;
	background-color:black;
 } 